graphbot.tab.*
graphbot
lex.yy.c
graphbot.output
.DS_STORE
*.swp
*.swo
*.swn
*.swm
/testfiles
CodigoInt.txt
MaquinaVirtual/MaquinaVirtual.xcodeproj/project.xcworkspace
MaquinaVirtual/MaquinaVirtual.xcodeproj/xcshareddata
MaquinaVirtual/MaquinaVirtual.xcodeproj/xcuserdata
MaquinaVirtual/Build/Intermediates

